<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" aria-label="nav">
  <!-- Navbar Brand-->
  <h3 style="color: darkgray; font-size: 50px;">Virtusa</h3>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
        aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button">
        <em class="fas fa-search"></em>
      </button>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
        data-bs-toggle="dropdown" aria-expanded="false"><em class="fas fa-user fa-fw"></em></a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" routerLink="/login">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" aria-label="nav" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading"></div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon">
              <em class="fas fa-columns"></em>
            </div> Leave Statuses
            <div class="sb-sidenav-collapse-arrow">
              <em class="fas fa-angle-down"></em>
            </div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav" aria-label="nav">
              <a class="nav-link"  routerLink="/viewstatus">My Leave Status</a>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Welcome Manager  </h1>
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
              <div class="card-body">Employees</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" routerLink="/empUndMng">View
                  Employees</a>
                <div class="small text-white">
                  <em class="fas fa-angle-right"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
              <div class="card-body">Apply Leave</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" routerLink="/applylve">Apply
                  Leave</a>
                <div class="small text-white">
                  <em class="fas fa-angle-right"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
              <div class="card-body">My Leave Balances</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" routerLink="/mngbalances">View Leave Balances</a>
                <div class="small text-white">
                  <em class="fas fa-angle-right"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
              <div class="card-body">Leave Requests</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" routerLink="/mngrequests">View
                  Leave Requests</a>
                <div class="small text-white">
                  <em class="fas fa-angle-right"></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">
        <em class="fas fa-table me-1"></em> Leave Status
      </div>
    <div class="card-body">
      <table>
       <caption></caption>
        <thead>
          <tr>
            <th id="slno">SL No</th>
						<th id="leaveType">Leave Type</th>
						<th id="reason">Reason</th>
						<th id="fromdate">From Date</th>
						<th id="todate">To Date</th>
						<th id="noOfDays">No of Days</th>
						<th id="status">Status</th>
						<th id="actionby">ApprovedOrRejected By</th>
						<th id="cancel">Cancel</th>
          </tr>
        </thead>
        <tbody >
          <ng-container  *ngFor="let lve of leaves; index as i;">
          <tr *ngIf="user.userId == lve.user.userId">
            <td>{{i+1}}</td>
            <td>{{lve.leaveMaster.lvmName}}</td>
            <td>{{lve.reason}}</td>
            <td>{{lve.fromDate}}</td>
            <td>{{lve.toDate}}</td>
            <td>{{lve.noOfDays}}</td>
            <td>{{lve.status}}</td>
            <td>{{lve.actionBy}}</td>
            <td *ngIf="lve.status == 'Pending'"><button (click)="cancel(lve.lvId)" class="btn btn-danger btn-sm rounded-0" 
              data-toggle="tooltip" data-placement="top" title="cancel"><em class="fa fa-trash"></em></button>
             </td>
            <td *ngIf="lve.status == 'Approved' || lve.status == 'Rejected'">Closed</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    </main>
  </div>