<br><br><br><br><br><br>
<div>
    <div class="row justify-content-center align-items-center">
        <h1 style="text-align: center;">Allocate Leave balance</h1>
    </div>
    <br> <br>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3" style="background-color: whitesmoke;">
            <div class="form-group">
                <p style="color: black; text-align: center;">{{message}}</p>
                <form (ngSubmit)="allocateLve()" #balanceForm="ngForm">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Employee</mat-label>
                        <mat-select required id="emp" name="empName" [(ngModel)]="user.empName">
                            <ng-container *ngFor="let usr of users;">
                                <mat-option *ngIf="usr.role.roleId==2 || usr.role.roleId==3" [value]="usr.empName">{{usr.empName}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Leave Type</mat-label>
                        <mat-select required id="lvb" name="lvmName" [(ngModel)]="leaveMaster.lvmName">
                            <ng-container *ngFor="let lvm of leaveMasters;">
                                <mat-option [value]="lvm.lvmName">{{lvm.lvmName}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <label style="color: black;" for="num">Balance per year</label>
                    </div>
                    <div>
                        <input type="number" id="num" name="balance" min="0.01" step="0.01" [(ngModel)]="leaveBalance.balance" required>
                    </div>
                    <br> <input style="background-color: lime;" type="submit" [disabled]="!balanceForm.valid" value="Allocate">
                </form>
            </div>
        </div>
    </div>